.card.dark {
  background-color: var(--dark-theme-light-bg);
  box-shadow: unset;
}

.card.light {
  background-color: var(--light-theme-light-bg);
}

.card {
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: 24px;

  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 19px;
}

.card-header {
  margin-bottom: 34px;
}

.card-body {
  grid-column: 1 / 3;
  /* Check margin-top when actual pic comes through */
}

.info {
  margin-bottom: 6px;
}

.img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.username {
  color: var(--light-theme-text-dark);
  font-size: 16px;
}

.handle {
  color: var(--blue);
  font-size: 13px;
}

.joined {
  color: var(--light-theme-text-secondary);
  font-size: 13px;
}

.card-desc {
  font-size: 13px;
  line-height: 25px;
}

@media (min-width: 598px) {
  .card {
    padding: 40px;
    column-gap: 41px;
  }

  .img {
    width: 117px;
    height: 117px;
  }

  .card-header {
    margin-bottom: unset;
    align-self: center;
  }

  .username {
    font-size: 26px;
  }

  .handle {
    font-size: 16px;
  }

  .joined {
    font-size: 15px;
  }

  .card-body {
    margin-top: 24px;
  }

  .card-desc {
    font-size: 15px;
    line-height: 30px;
  }
}

@media (min-width: 992px) {
  .card {
    padding: 48px;
    grid-template-columns: 117px 1fr;
  }

  .img-container {
    grid-row: span 2;
  }

  .card-header,
  .card-body {
    grid-column: 2;
  }

  .card-body {
    margin-top: unset;
  }

  .card-header {
    align-self: self-start;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .joined {
    margin: 8px 0;
  }
}
