*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Rubik', serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  min-height: 100vh;
}

#map {
  background: lime;
  height: 60vh;
}

@media (min-width: 600px) {
  #map {
    height: 66.66vh;
  }
}
