@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  .grid-cols-auto-fit {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(264px, 264px));
    gap: 2.5rem;
    place-content: center;
  }

  .cal-height {
    height: calc(100% - 64px);
  }
}
