:root {
  --family: 'Manrope', sans-serif;
  --primary-color: hsl(193, 38%, 86%);
  --accent-color: #52ffa8;
  --card-background: hsl(217, 19%, 24%);
  --main-background: hsl(218, 23%, 16%);

  --shadow: 30px 50px 80px 0px rgba(0, 0, 0, 0.1);
  --radius: 15px;
  --transition: all 0.3s ease;
  --max-width: 540px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--family);
  color: var(--primary-color);
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

main {
  min-height: 100vh;
  background-color: var(--main-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  width: 90%;
  max-width: var(--max-width);
  margin-inline: auto;
  background-color: var(--card-background);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: 2.5rem 1.5rem;
  text-align: center;
}

.number {
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: 0.685rem;
  letter-spacing: 3.457px;
  transition: var(--transition);
}

.text {
  margin: 1.5rem 0;
  font-size: 1.5rem;
  letter-spacing: -0.257px;
  transition: var(--transition);
}

.pattern {
  margin-bottom: 2rem;
}

.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: var(--accent-color);
  transition: var(--transition);
  border: none;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0 20px 10px var(--accent-color);
}

@media (min-width: 598px) {
  .text {
    margin: 1.5rem 0 2.5rem;
    font-size: 1.75rem;
    letter-spacing: 0.3px;
  }

  .number {
    font-size: 0.8125rem;
    letter-spacing: 4.086px;
  }

  .pattern {
    margin-bottom: 2.5rem;
  }
}
