:root {
  --font-family: 'Space Mono', monospace;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --light-theme-dark-bg: #f6f8ff;
  --light-theme-light-bg: #fefefe;
  --light-theme-text-primary: #4b6a9b;
  --light-theme-text-dark: #2b3442;
  --light-theme-text-secondary: #697c9a;

  --dark-theme-dark-bg: #141d2f;
  --dark-theme-light-bg: #1e2a47;
  --dark-theme-text-primary: #ffffff;
  --dark-theme-text-hover: #90a4d4;

  --blue: #0079ff;
  --btn-hover: #60abff;
  --error: #f74646;

  --radius: 15px;
  --shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
}

html {
  font-size: 15px;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-style: normal;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main.light {
  background-color: var(--light-theme-dark-bg);
  color: var(--light-theme-text-primary);
}

main.dark {
  background-color: var(--dark-theme-dark-bg);
  color: var(--dark-theme-text-primary);
}

.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 327px;
  margin-inline: auto;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 598px) {
  .container {
    max-width: 573px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 730px;
  }
}
