.search-container {
  position: relative;
  margin-bottom: 16px;
}

input {
  width: 100%;
  height: 60px;
  border-radius: var(--radius);
  border: none;
  font-family: inherit;
  padding-left: 3rem;
  font-size: 0.866rem;
}

input.dark {
  background-color: var(--dark-theme-light-bg);
  caret-color: var(--dark-theme-text-hover);
  color: var(--dark-theme-text-primary);
}

input.light {
  background-color: var(--light-theme-light-bg);
  caret-color: var(--dark-theme-text-hover);
  color: var(--light-theme-text-primary);
}

input.dark::placeholder {
  color: var(--dark-theme-text-primary);
}

input.light::placeholder {
  color: var(--light-theme-text-primary);
}

input.no-results::placeholder {
  color: var(--error);
  font-weight: var(--font-weight-bold);
  text-align: center;
}

input:focus {
  outline: none;
  border: 2px solid var(--blue);
}

.search-icon,
.search-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.search-btn {
  right: 0;
  margin: 0 7px;
  border: transparent;
  border-radius: 10px;
  padding: 1.07em;
  background-color: var(--blue);
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  font-weight: var(--font-weight-bold);
}

.search-btn:hover {
  cursor: pointer;
  background-color: #60abff;
}

.search-icon {
  left: 0;
  margin-left: 16px;
  margin-right: 7px;
  width: 20px;
  height: 20px;
  color: var(--blue);
}

@media (min-width: 598px) {
  .search-container {
    margin-bottom: 24px;
  }

  input {
    height: 69px;
    font-size: 1.2rem;
    padding-left: 5.333rem;
  }

  input.no-results::placeholder {
    text-align: right;
    padding-right: 10rem;
  }

  .search-icon {
    width: 24px;
    height: 24px;
    margin-left: 32px;
    margin-right: 24px;
  }

  .search-btn {
    font-size: 16px;
    margin: 0 10px;
    padding: 0.833em 1.6em;
  }
}
